

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.container div
{
    display: flex;
    align-items: center;
    gap: 10px;
}
#ms {
    min-width: 2.5em; 
    text-align: left;
}
